html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.padding{
  padding: 1rem;
}
.cus-img{
  width: 75%;
}
.cus-img-1{
  width: 50%;
}
.cus-sub-text{
  width:75%
}
.cus-download-button{
  width: 30%;
}

@media (min-width:800px){
  .cus-header-logo{
      margin-left: 30px;
  }
}

@media (max-width:768px){
  .cus-img{
    width: 50%;
  }
  .cus-img-1{
    width: 40%;
    margin-bottom: 2rem;
  }
  .cus-header-text{
    font-size: x-large;
  }
  .cus-sub-text{
    font-size: medium;
  }
  .cus-download-button{
    width: 20%;
  }
}










