a,
a:hover,
a:focus{
    color:inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.wrapper{
    position: fixed;
    display: flex;
    z-index: 1;
    text-decoration: none;
    transition: all 1s;
}

.list_unstyled {
    padding-left: 0;
    list-style: none;
}

.sidebar-header{
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components{
    padding: 10px 0;
}

#sidebar ul p{
    color: #fff;
    padding:10px;
}

#sidebar ul li a{
    padding:10px;
    font-size: 1.1em;
}

.sidebar-icon-1{
    color: gray;
}
.sidebar-icon-2{
    color: gray;
}
.sidebar-icon-3{
    color: gray;
}
.sidebar-icon-4{
    color: gray;
}

.sidebar-icon-active{
    color:orange
}

#sidebar ul li a:hover{
    color:#738605;
    background: paleturquoise;
    border-radius: 20px;
}

#sidebar ul li.active>a,
a[aria-expanded="true"]{
    color:#fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"]{
    position: relative;
}

.dropdown-toggle::after{
    display: block;
    position: absolute;
    top:50%;
    right: -30%;
    transform: translateY(-50%);
}

ul ul a{
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

#content{
    width: 100%;
    padding: 20px;
    min-height:100vh;
    transition: all 1s;
}

@media (max-width: 768px){
    #sidebar{
        margin-left: -250px;
        min-width: 250px;
        max-width: 250px;
        background: #0A0A0A;
        color: #fff;
    }
    #sidebar.active{
        margin-left: 0;
    }
    #sidebarCollapse span{
        display: none;
    }
    
}
@media (min-width: 768px){
    #sidebarCollapse{
        display: none;
    }
    #sidebar{
        min-width: 65px;
        max-width: 65px;
        background: #fff;
        color: #fff;
        box-shadow: 5px 5px 5px grey;
    }
    #sidebar-text span{
        display: none;
    }
    .sidebar-content{
        display: none;
    }
}
